@using SuggestionAppUI.Components.Shared
@inherits LayoutComponentBase

<div class="page">

    <main class="container-xxl">
        <div class="px-5 pt-3 nav-links">
            <LoginDisplay />
        </div>

        <article class="content pt-1">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
